*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  align-items: center;
}
#avatar {
  width: 8vh;
  margin-top: 1vh;
  margin-left: 1vh;
}
menu {
  display: flex;
  align-items: center;
}
#name {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 4vh;
  margin-left: 2vh;
  margin-right: 3vh;
  flex-grow: 1;
}
.li {
  background-color: #054861;
  border-radius: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-left: 8vh;
  margin-right: 8vh;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img/fond_accueil.jpg);
  background-size: cover;
  /* aspect-ratio: 16 / 9; */
}
h1 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  background-color: #000000 30%;
}
body {
  background-color: #7eedf1;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
footer div {
  float: right;
  clear: right;
}

.logoImg {
  width: 6vh;
  margin: 2vh;
}
